body {
  background-image: url("./images/spacebackground.jpg");
  font-family: "Space Mono", monospace;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 56px;
  text-align: center;
}

ul {
  list-style: none;
}

footer {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: black;
}
footer a {
  text-decoration: none;
  color: black;
}

h3 {
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 10px;
  /*this will put the border around only the word, not entire space*/
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #e88aae;
  font-size: 22px;
}

section {
  margin: 20px 20px;
}

.button {
  padding: 8px 20px;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  border: 2px solid black;
  border-radius: 7px;
  color: black;
  background-color: #ae659a;
}

.button-container {
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
}
.container {
  /*border: 3px solid black;*/
  padding: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

.line {
  border-top: 3px solid black;
}

.col {
  padding-left: 50px;
  text-align: center;
  background-color: rgba(232, 138, 174, 0.2);
}

.icon {
  font-size: 40px;
}

#year {
  font-weight: 600;
  font-size: 18px;
}

#description {
  margin-top: 10px;
  font-weight: 600;
}

#welcome-button {
  margin-top: 35px;
}
